body {
    /*background-image: url(resources/bkground.png);*/
    color: black;
}

#email {
    color: black;
}

#email.ng-invalid {
    background-color: rgba(255, 60, 60, 0.60);
}

#email.ng-valid {
    background-color: rgba(60, 255, 60, 0.60);
}

.main {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    height: 60%;
    margin-top: 10px;
    width: 60%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

nav {
    margin-top: 20px;
    border-radius: 5px;
}